In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
Insur1 = pd.read_csv("AutoInsurance.csv")
Insur1.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [3]:
Insur1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.1+ MB

In [4]:
from feature_engine.outliers import Winsorizer

In [12]:
winsor = Winsorizer(capping_method="iqr", tail = 'both', fold =1.5, variables=['Customer Lifetime Value','Income', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies','Total Claim Amount'])

In [15]:
Insur_prepro = winsor.fit_transform(Insur1[['Customer Lifetime Value','Income', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies','Total Claim Amount']])
Insur_prepro

# Preprocessing done

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,2763.519279,56274.0,69.0,32.0,5.0,0.0,1.0,384.811147
1,6979.535903,0.0,94.0,13.0,42.0,0.0,8.0,960.399730
2,12887.431650,48767.0,108.0,18.0,38.0,0.0,2.0,566.472247
3,7645.861827,0.0,106.0,18.0,65.0,0.0,7.0,529.881344
4,2813.692575,43836.0,73.0,12.0,44.0,0.0,1.0,138.130879
...,...,...,...,...,...,...,...,...
9129,16414.039912,71941.0,73.0,18.0,89.0,0.0,2.0,198.234764
9130,3096.511217,21604.0,79.0,14.0,28.0,0.0,1.0,379.200000
9131,8163.890428,0.0,85.0,9.0,37.0,0.0,2.0,790.784983
9132,7524.442436,21941.0,96.0,34.0,3.0,0.0,3.0,691.200000
9133,2611.836866,0.0,77.0,3.0,90.0,0.0,1.0,369.600000

In [16]:
Insur_prepro.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.0,9134.000000,9134.000000
mean,7185.701022,37657.380009,91.494635,15.097000,48.064594,0.0,2.943398,418.322158
std,4234.107132,30379.904734,28.416268,10.073257,27.905991,0.0,2.334310,240.254253
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.0,1.000000,0.099007
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.0,1.000000,272.258244
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.0,2.000000,383.945434
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.0,4.000000,547.514839
max,16414.039912,99981.000000,170.500000,35.000000,99.000000,0.0,8.500000,960.399730

In [17]:
# normalization

def norm(i):
    x = (i-i.min())/(i.max()-i.min())
    return x

In [41]:
Insur_norm = norm(Insur_prepro)
Insur_norm = Insur_norm.drop(['Number of Open Complaints'], axis=1)
Insur_norm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer Lifetime Value        9134 non-null   float64
 1   Income                         9134 non-null   float64
 2   Monthly Premium Auto           9134 non-null   float64
 3   Months Since Last Claim        9134 non-null   float64
 4   Months Since Policy Inception  9134 non-null   float64
 5   Number of Policies             9134 non-null   float64
 6   Total Claim Amount             9134 non-null   float64
dtypes: float64(7)
memory usage: 499.6 KB

In [36]:
Insur_norm.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Policies,Total Claim Amount
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,0.364266,0.376645,0.278490,0.431343,0.485501,0.259120,0.435513
std,0.291685,0.303857,0.259509,0.287807,0.281879,0.311241,0.250186
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.144409,0.000000,0.063927,0.171429,0.242424,0.000000,0.283410
50%,0.267440,0.338959,0.200913,0.400000,0.484848,0.133333,0.399715
75%,0.486645,0.623318,0.438356,0.657143,0.717172,0.400000,0.570046
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [37]:
#create the dendrogram

from scipy.cluster.hierarchy import linkage
import scipy.cluster.hierarchy as sch

In [40]:
z = linkage(Insur_norm, method = 'ward', metric = 'euclidean')
z

MemoryError: Unable to allocate 318. MiB for an array with shape (41710411,) and data type float64